@page
@model WeBoozin.Pages.CategoriesModel
@{
    ViewData["Title"] = "Products";
}
<link rel="stylesheet" href="/css/Categories.css" />

<div class="container">
    @for (int i = 0; i < Model.Categories.Count; i += 3)
    {
        <div class="row">
            @for (int j = i; j < i + 3 && j < Model.Categories.Count; j++)
            {
                <div class="col hover">
                    <img src="@Model.Categories[j].CategoryImage" class="img-thumbnail" id="@Model.Categories[j].CategoryName" />
                </div>
            }
        </div>
    }
</div>
<script src="~/js/Categories.js"></script>

