@page
@model WeBoozin.Pages.ProductsModel
@{
    ViewData["Title"] = "Products";
}
<link rel="stylesheet" href="/css/Products.css" />

<div class="container">
    <div class="row">
        <div class="col hover">
            <img src="~/Photos/Vodka.webp" class="img-thumbnail" id="Vodka"/>
        </div>
        <div class="col hover" >
            <img src="~/Photos/Tequila.webp" class="img-thumbnail" id="Tequila"/>
        </div>
        <div class="col hover">
            <img src="~/Photos/Beer.webp" class="img-thumbnail" id="Beer"/>
        </div>
    </div>
    <div class="row">
        <div class="col hover">
            <img src="~/Photos/Whiskey.webp" class="img-thumbnail" id="Whiskey"/>
        </div>
        <div class="col hover">
            <img src="~/Photos/Gin.webp" class="img-thumbnail" id="Gin"/>
        </div>
        <div class="col hover">
            <img src="~/Photos/Rum3.webp" class="img-thumbnail" id="Rum"/>
        </div>
    </div>
    <div class="row">
        <div class="col hover">
            <img src="~/Photos/Liquor.webp" class="img-thumbnail" id="Liquor"/>
        </div>
        <div class="col hover">
            <img src="~/Photos/Wine2.webp" class="img-thumbnail" id="Wine"/>
        </div>
        <div class="col hover">
            <img src="~/Photos/Champagne2.webp" class="img-thumbnail" id="Champagne"/>
        </div>
    </div>
</div>
<script src="/js/Products.js"></script>