@page
@model WeBoozin.Pages.ProductsModel
@{
    ViewData["Title"] = "Products";
}
<link rel="stylesheet" href="/css/Products.css" />

<div class="container text-center">
    <div class="row">
        <div class="col">
            <img src="~/Photos/Vodka.webp" class="img-thumbnail"/>
        </div>
        <div class="col">
            <img src="~/Photos/Tequila.webp" class="img-thumbnail" />
        </div>
        <div class="col">
            <img src="~/Photos/Beer.webp" class="img-thumbnail" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="~/Photos/Whiskey.webp" class="img-thumbnail" />
        </div>
        <div class="col">
            <img src="~/Photos/Gin.webp" class="img-thumbnail" />
        </div>
        <div class="col">
            <img src="~/Photos/Rum3.webp" class="img-thumbnail" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="~/Photos/Liquor.webp" class="img-thumbnail" />
        </div>
        <div class="col">
            <img src="~/Photos/Wine2.webp" class="img-thumbnail" />
        </div>
        <div class="col">
            <img src="~/Photos/Champagne2.webp" class="img-thumbnail" />
        </div>
    </div>
</div>
